    html,body {
        overflow-x: hidden;
    }
    
    .navbar-scrolled{
        background-color: #fff;
        transition: all 0.6s;
    }
    .navbar a:hover{
        color: #EA580c;
    }
    .social-media{
        background-color: white;
        border-radius: 30px;
        width: 30px;
        height: 30px;
        text-align: center;
        margin-right: 4px;
        padding-top: 3px;
        font-size: 14px;
    } 

    .social-scrolled{
        background-color: #EA580c;
        border-radius: 30px;
        width: 30px;
        height: 30px;
        text-align: center;
        margin-right: 4px;
        padding-top: 3px;
        font-size: 14px;
        color: white;
    } 

    swiper-container {
        width: 100%;
        height: 100%;
        }

    swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-repeat: no-repeat;
        }

    swiper-slide:nth-child(1) {
        background-image: url(../Assets/slider_1.jpg);
        height: 100vh;
    }

    swiper-slide:nth-child(2) {
        background-image: url(../Assets/slider_3.png);
        height: 100vh;
    }

    swiper-slide:nth-child(3) { 
        background-image: url(../Assets/slider_3.png);
        height: 100vh;
    }   

             /* swiper-container {
                width: 100%;
                height: 100%;
                /* padding: 100px 0 50px !important; */
                /* position: relative;
                overflow: hidden;
                
            }

            .swiper-mask {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
                /* z-index: 1;
                } */
                /* swiper-slide {
                text-align: center;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                }
                swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                } */

            /* .swiper-content {
                position: absolute;
                z-index: 999999;
                top: 30%;
                left: 30%; 
                color: #fff;
                }
                .swiper-content span{
                    color: #EA580c}*/

    .survlinks{
        font-weight: 650;
    color: black;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

    

    .surv-card{
        width: 80px;
        height: 78px;
        background-color: antiquewhite;
        margin-bottom: 30px;
        border-radius: 10px;
        align-items: center;
        padding: 13px;
        margin-left: 1px;
    }


    .icons-span{
        font-size: 31px;
    color: #EA580c;
}
    
.read-more { 
    color: black;
    text-decoration: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
    color: #EA580c;
}


.survlinks:hover {
    color: #EA580c;
}

.imge{
    width: 100%;
}



.timeline {
    position: relative;
    border-radius: 4px;
    padding: 5rem;
    margin: 0 auto 1rem auto;
    overflow: hidden;
}

.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    border-right: 2px dashed #e5e7eb;
    height: 100%;
    display: block;
    margin-top: 40px;
    
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
}
.timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 15px;
    text-align: right;
    margin-right: 20px;

}
.timeline-row .timeline-time small {
    display: block;
    
}
.timeline-row .timeline-content {
    position: relative;
    
    
    
}


.left-imag{
    width: 68%;
    margin-left: 38%;
    
}
.right-imag{
    width: 63%;
    margin-right: 38%;
}

.timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -49px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 10;
    background: #EA580c;;
    border: 2px dashed #e5e7eb;
}

.timeline-row:nth-child(even) .timeline-content {
    margin-left: 40px;
    text-align: left;
}
.timeline-row:nth-child(even) .timeline-content:after {
    left: -8px;
    right: initial;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(-135deg);
}
.timeline-row:nth-child(even) .timeline-content:before {
    left: -52px;
    right: initial;
}
.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}
.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}
.timeline-row:nth-child(odd) .timeline-content {
    margin-right: 40px;
}
.timeline-row:nth-child(odd) .timeline-content:after {
    right: -8px;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}

@media (max-width: 992px) {
    .timeline {
        padding: 15px;
    }
    .timeline:after {
        border: 0;
    }
    .timeline .timeline-row:nth-child(odd) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
        text-align: left;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:after {
        display: none;
    }
}

.img-container{
    position: relative;
}

.img-container-mask{
    position: absolute;
    height: 100%;
    width: 91%;
    border-radius: 0.375rem;
    opacity: 0;
    top: 0;
    background-color: #0000005c;
    transition: 0.4s ease;
    cursor: pointer;
}

.img-container:hover .img-container-mask{
    opacity: 1;
    transform: rotate(0.5deg);
}

.hovered-img {
    transition: 0.4s ease;
}

.img-container:hover .hovered-img{
    transform: rotate(0.7deg);
}

.camera{
position: absolute;
    left: 78%;
    top: 18px;
    background: #EA580c;
    border-radius: 20px;
    color: white;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 5px;

}
.camera-text{
    position: absolute;
    top: 68%;
    color: white;
    padding-left: 10px;

}




.protf-3{
    margin-top: 50pxs;
    background-image:url(../Assets/protfolio9.jpg);
    height: 400px;
    position: relative;
}


.protf-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#05112280; /* semi-transparent black overlay */
    z-index: 1;
                } 

.protf-text{
    text-align: center;
    top: 10%;
    margin-top: 13%;
    color: white;}

.sec-slider{
    width: 80%;
}
.sec-swiper{
    background-image: none !important;
    height: 20% !important;
    margin-top: 30px;
    padding: 0;
}
.img-slider2{
    width:35%;
    border-radius: 10px;
}

@media (max-width: 992px) {
    .img-slider2{
        border-radius: 50px;
    }
    .media{
        flex-direction: column;
    }
}

.card{
    width: 30%;
    background-color: #0f172a0a;
    border: none;
    height: 450px;

}
.card-body a{
    background-color: #EA580c;
    color: #fff;
    text-align: center;
    width: 100%;
}
.card-body ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.card-body ul img{
    width: 6%;
    margin-right: 6px;
}

.card-body ul li{
    padding-top: 5px;
    font-size: 17px;
}