body {
    
    color: #444444;
}

.first {
    background-image: url(../Assets/teamwork.jpg);
    background-size: cover;
    height: 100vh;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
}



#header .logo img {
    max-height: 85px;
}





/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
/* .navbar {
    padding: 0;
    }

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    }
.navbar li {
    position: relative;
    }

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    
    color: rgb(255 255 255 / .6);
    white-space: nowrap;
    transition: 0.3s;
    }

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    }
  
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #fbfdff;
    }

    




    /*  */

    .navbar a:hover{
        color: #EA580c;
    }

   



    .social-media{
        background-color: white;
        border-radius: 30px;
        width: 30px;
        height: 30px;
        text-align: center;
        margin-right: 4px;
        padding-top: 3px;
        font-size: 14px;
    } 


    .swiper {
        width: 100%;
        height: 100vh;
        }
        

    .swiper-slide {
        
        background-image: url(../Assets/teamwork.jpg);
        background-size: cover;
        align-items: center;
        position: relative;
    }
    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* change the opacity and color as needed */
        }

        .text-slide{
            margin-left: 5em;
            margin-top: 8em;
            padding-top: 10px;
            padding-left: 13px;
        
        }
        

    .swiper-slide h1{
        line-height: 43px;
        font-size: 2em;
    
        }

        .swiper-slide span{
            color: #EA580c
            
            }


    



    /*  */

    .survlinks{
        font-weight: 650;
    color: black;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

    

    .surv-card{
        width: 80px;
        height: 78px;
        background-color: antiquewhite;
        margin-bottom: 30px;
        border-radius: 10px;
        align-items: center;
        padding: 13px;
        margin-left: 1px;
    }


    .icons-span{
        font-size: 31px;
    color: #EA580c;
}
    
.read-more { 
    color: black;
    text-decoration: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
    color: #EA580c;
}


.survlinks:hover {
    color: #EA580c;
}

